
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">BitBook</a>

    </div>
    <div class="header-search">
        <input placeholder="Search for people" type="search" value="" ng-model="search.input" />
        <i class="glyphicon glyphicon-search"></i>
    </div> 
    <div class="nav">
        <ul class="nav navbar-nav">
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ui-sref="home">Home</a></li>
            <li><button>Messages</button></li>
            <li><button>Notifications</button></li>
        </ul>
    </div>
</nav>
