<div>
    <form name="loginForm" ng-submit="model.login(loginForm.$valid)">
        <p>
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="user.username" required ng-minlength="3" />
        </p>
        <p ng-show="loginForm.username.$invalid && ! loginForm.username.$pristine" class="help-block">You name is required.</p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="user.password" required />
        </p>
        <button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid">Login</button>
    </form>
</div>
